Repository christianTragesser/dnsexit-ip-update: changes, and which GitLab CI jobs are due for each by the changed paths.
All: test:lint, test:unit, publish:binary, publish:container

.gitlab-ci.yml:

variables:
  IMAGE_NAME: dnsexit-ip-update

include:
  - project: christiantragesser/gitlab-ci-templates
    ref: master
    file:
      - goreleaser.yml
      - kaniko.yml

.default_branch_only:
  rules:
  - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
    changes:
      - go.*
      - main.go
      - dnsexit/*
      - pkg/Dockerfile

.app_files_only:
  rules:
  - if: $CI_COMMIT_TAG == null 
    changes:
      - go.*
      - main.go
      - dnsexit/*

stages:
  - test
  - publish
  - release

test:lint:
  stage: test
  extends:
    - .kaniko_publish
    - .app_files_only
  variables:
    DOCKERFILE_PATH: ./pkg/Dockerfile
    DOCKER_BUILD_STAGE: lint
    KANIKO_ADDITIONAL_ARGS: --no-push

test:unit:
  stage: test
  extends:
    - .kaniko_publish
    - .app_files_only
  variables:
    DOCKERFILE_PATH: ./pkg/Dockerfile
    DOCKER_BUILD_STAGE: test
    KANIKO_ADDITIONAL_ARGS: --no-push

publish:binary:
  stage: publish
  extends:
    - .bin_publish
    - .default_branch_only
  artifacts:
    paths:
      - dist/${IMAGE_NAME}_linux_amd64_v1/${IMAGE_NAME}-linux-amd64
  
publish:container:
  stage: publish
  needs: ["publish:binary"]
  extends:
    - .kaniko_publish
    - .default_branch_only
  variables:
    DOCKERFILE_PATH: ./pkg/Dockerfile.pipeline
    DOCKER_BUILD_STAGE: publish
  dependencies:
    - publish:binary

release:github:
  stage: release
  extends:
    - .gh_release

release:container:
  stage: release
  extends:
    - .kaniko_release

inital tests for record status
  dnsexit/record_status.go
  dnsexit/record_status_test.go
Due: test:lint, test:unit, publish:binary, publish:container

functional dynamic dns client for single domain A records
  dnsexit/cli.go
  dnsexit/cli_test.go
  dnsexit/dynamic.go
  dnsexit/record_status.go
  dnsexit/record_status_test.go
Due: test:lint, test:unit, publish:binary, publish:container

functional minute interval loop
  dnsexit/cli.go
  dnsexit/dynamic.go
  dnsexit/status.go
  dnsexit/status_test.go
  main.go
Due: test:lint, test:unit, publish:binary, publish:container

provide timestamp in log
  dnsexit/logger.go
Due: test:lint, test:unit, publish:binary, publish:container

start with actions
  .github/workflows/main.yml
Due: none

lint and unit test jobs
  .github/workflows/main.yml
Due: none

initial test and publish pipeline
  .github/workflows/main.yml
  .goreleaser.yaml
  pkg/Dockerfile
Due: publish:binary, publish:container

correct pipeline
  .github/workflows/main.yml
Due: none

correct intermodal container tag
  .github/workflows/main.yml
Due: none

improve logger and messaging
  dnsexit/cli.go
  dnsexit/logger.go
  dnsexit/record.go
  dnsexit/record_test.go
  dnsexit/update.go
  dnsexit/update_test.go
Due: test:lint, test:unit, publish:binary, publish:container

use DNSExit nameservers for DNS queries
  dnsexit/cli.go
  dnsexit/record.go
  dnsexit/record_test.go
  dnsexit/resolver.go
Due: test:lint, test:unit, publish:binary, publish:container

do not perform dnsexit update if DNS resolution and location IP resolution are not provided
  dnsexit/record.go
  dnsexit/record_test.go
Due: test:lint, test:unit, publish:binary, publish:container

add resolver fields
  dnsexit/logger.go
Due: test:lint, test:unit, publish:binary, publish:container

log dns query info
  dnsexit/resolver.go
Due: test:lint, test:unit, publish:binary, publish:container

assign location IP for record.Content if unable to determine
  dnsexit/update.go
Due: test:lint, test:unit, publish:binary, publish:container

use checkout v1 for goreleaser job
  .github/workflows/main.yml
Due: none

remove 162.244.82.74 nameserver
  dnsexit/resolver.go
Due: test:lint, test:unit, publish:binary, publish:container

correct to v3 checkout
  .github/workflows/main.yml
Due: none

try multiple needs
  .github/workflows/main.yml
Due: none

set GOFLAGS=-buildvcs=false
  .goreleaser.yaml
Due: none

attempt docker build job
  .github/workflows/main.yml
  pkg/Dockerfile
Due: publish:binary, publish:container

attempt docker build job
  .github/workflows/main.yml
Due: none

attempt at github actions
  .github/workflows/main.yml
  .goreleaser.yaml
  pkg/Dockerfile
Due: publish:binary, publish:container

seperate CI from release workflows
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
Due: none

checksum arm64 bins
  .goreleaser.yaml
Due: none

correct steps
  .github/workflows/release.yml
Due: none

README update
  README.md
Due: none

restrict pipeline runs to application file changes
  .github/workflows/ci.yml
Due: none

Golang client (#1)
  .flake8
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .gitlab-ci.yml
  .goreleaser.yaml
  Dockerfile
  Dockerfile-dev
  README.md
  dnsexit/cli.go
  dnsexit/logger.go
  dnsexit/record.go
  dnsexit/record_test.go
  dnsexit/resolver.go
  dnsexit/update.go
  dnsexit/update_test.go
  go.mod
  go.sum
  main.go
  pkg/Dockerfile
  requirements/requirements-dev.txt
  requirements/requirements.txt
  setup.py
  src/dnsexitUpdate/__init__.py
  src/dnsexitUpdate/__main__.py
  src/dnsexitUpdate/logs.py
  src/dnsexitUpdate/utils.py
  src/tests/test_utils.py
Due: test:lint, test:unit, publish:binary, publish:container

provide GITHUB_TOKEN env var for goreleaser
  .github/workflows/release.yml
Due: none

establish GH actions
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .goreleaser.yaml
Due: none

remove workflow_dispatch
  .github/workflows/release.yml
Due: none

provide config via env vars
  .github/workflows/ci.yml
  dnsexit/cli.go
Due: test:lint, test:unit, publish:binary, publish:container
